.productHeader {
    background: $oe-navy;
    padding: 10px 0;
    h1 {
        font-size: $font-l;
        color: white;
        margin: 0;
    }
    p {
        font-size: $font-m;
        color: $oe-blue;
        margin: 0;
    }
}